<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <h2>My Order</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cars justo odio
                    </li>
                </ul>
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</div>